<div class="center">*Please complete as many fields below as appropriate.</div>
  <br>
  <div class="container">
    <div class="row">
      <div class="col-3">
        <%= form_with model: @plan, url: plans_create_path do |form| %>

          <div class="h5">Plan of Care</div>
          <div class="field">
            <div><%= form.label "Please enter any notes about the plan of care" %></div>
            <div><%= form.text_area :text %></div>
            <br>
            <br>
          </div>
        </div>

        <div class="col-3">
          <div class="h5">Session</div>
          <%= form.fields_for :sessions do |session_builder| %>
            <div><%= session_builder.label "Please enter any notes about the this session" %></div>
            <div><%= session_builder.text_field :text %></div>

            <br>

            <div class="h5">Memo</div>
            <%= session_builder.fields_for :memos do |memo_builder| %>
              <div><%= memo_builder.label "Any additional notes?" %></div>
              <div><%= memo_builder.text_field :text %></div>
            <% end %>
        </div>

        <div class="col-3">
          <div class="h5">Word Practice</div>
          <%= session_builder.fields_for :practices do |practice_builder| %>
            <div class="pt-2"><%= practice_builder.label "Word practiced" %></div>
            <div class="pt-2"><%= practice_builder.text_field :word %></div>
            <div class="pt-2"><%= practice_builder.label "Was it correct?" %></div>
            <div class="pt-2"><%= practice_builder.select(:correctness, [['+', true], ['-', false]]) %></div>
            <div class="pt-2"><%= practice_builder.label "Please describe the prompt level" %></div>
            <div class="pt-2"><%= practice_builder.text_area :prompt_level %></div>
        </div>

        <div class="col-3">
          <div class="h5">Sound Practice</div>
            <%= practice_builder.fields_for :sounds do |sound_builder| %>
              <div class="pt-2"><%= sound_builder.label :sound_text %></div>
              <div class="pt-2"><%= sound_builder.text_field :text %></div>
              <div class="pt-2"><%= sound_builder.label :word_position %></div>
              <div class="pt-2"><%= sound_builder
                .select(:word_position, [
                  ['beginning', 'beginning'],
                  ['middle', 'middle'],
                  ['end', 'end'],
                ]) 
              %></div>
          </div>
            <% end %>
          <% end %>
        <% end %>
        <div class="actions">
          <%= form.submit %>
        </div>
        <br>
        <br>
      <% end %>
    </div>
  </div>
</div>